<main role='main'>
  <div class='jumbotron'>
    <div class='container'>
      <h1 class='display-3'>My Guestbook</h1>
      <p><%= sort %>Say something nice about me</p>
      <p><a class='btn btn-primary btn-lg' href='<%= routes.new_entry_path %>' role='button'>Sign my Guestbook</a></p>
    </div>
  </div>

  <div class='container'>
    <% if entries.any? %>
      <% entries.each_slice(3) do |sliced_entries| %>
        <div class='row'>
          <% sliced_entries.each do |entry| %>
            <div class='col-md-4'>
              <h2><%= entry.name %></h2>
              <p><%= entry.content %></p>
              <p style='font-size: 0.6em;'><%= entry.created_at.strftime('%Y-%m-%d %H:%M') %></p> 
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if entries.count == 0 %>
      <div class='row'>
        No one has signed your guestbook yet.
      </div>
    <% end %>
  </div>
</main>
